
@{
    ViewBag.Title = "CaesarEncriptar";
}

<h2>CaesarEncriptar</h2>
@using (Html.BeginForm("CaesarEncriptar", "Prueba", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h2>Index</h2>

    <br /><b><p align="left">Ingrese la clave</p></b>
    <input type="text" name="clave" />

    <br />
    <br />
    <br /><b><p align="left">Suba su archivo a encriptar</p></b>
    @Html.TextBox("postedFile", "", new { type = "file" })
    <br />
    @ViewBag.Message
    <input type="submit" value="Subir" />
}
